<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher_foreground"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.OpenAni">

        <activity
            android:name=".Ventanas.AccountView"
            android:exported="true">
        </activity>

        <activity
            android:name=".Ventanas.LoginView"
            android:exported="true">
        </activity>

        <activity
            android:name=".Ventanas.MainActivity"
            android:exported="true">
        </activity>

        <activity
            android:name=".Ventanas.MainAnime"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Ventanas.MainManga"
            android:exported="true">
        </activity>


        <activity
            android:name=".Ventanas.RegisterView"
            android:exported="true">
        </activity>

        <activity
            android:name=".Ventanas.SplashScreen"
            android:exported="true">

        </activity>

        <activity
            android:name=".Ventanas.TorrentView"
            android:exported="true">
        </activity>

    </application>
</manifest>